
.navbar-inverse .navbar-nav>li>a{
    color:white;
}
.navbar-inverse .navbar-brand {
    color:white;
}

@media (min-width: 768px){
.navbar {
    border-radius: 0;
    margin-bottom: 0;
    border: none;
}
}
.paddingimg{
    padding: 0;
}
